global-font, .banner {
  font-family: "Open Sans"; }

unselectable, .banner {
  -moz-user-select: none;
  /* These user-select properties are inheritable, used to prevent text selection */
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none; }

.banner {
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: background-image 1s, height 2s;
  -webkit-transition: background-image 1s, height 2s; }

body {
  padding: 0px;
  margin: 0px;
  text-align: center;
  background: black;
  overflow: hidden; }

global-font, #quote-container {
  font-family: "Open Sans"; }

unselectable, #quote-container {
  -moz-user-select: none;
  /* These user-select properties are inheritable, used to prevent text selection */
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none; }

#quote-container {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 90px;
  transform: translate(0px, 0%);
  -webkit-transform: translate(0%, 0%);
  transition: transform 2s;
  -webkit-transition: -webkit-transform 2s;
  text-align: left;
  padding: 20px; }

.quote-container-with-banner {
  transform: translate(0px, 120%) !important;
  -webkit-transform: translation(0%, 120%) !important;
  height: 380px !important; }

#quote-container div {
  word-break: break-all;
  padding-left: 180px;
  height: 150px; }

#quote-container img {
  position: absolute;
  vertical-align: middle;
  border-radius: 100px;
  transform: translate(-180px, 0px);
  -webkit-transform: translate(-180px, 0px); }
