@import 'grab-bag';

$image-size:150px;

.actors-block{
  position:absolute;
  bottom:160+$image-size;
  width:100%;
  text-align:center;
}

.actor-image-wrapper{
  @extend unselectable;
  @extend global-font;
  width:$image-size;
  height:$image-size;
  display:inline-block;
}
.actor-image-wrapper img{
  @extend unselectable;
  width:100%;
  height:100%;
  cursor:pointer;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.actor-image-wrapper img[class="actor-image-not-selected"]:hover{
  opacity:0.6;
}
.actor-image-not-selected{
  opacity:0.3;
}
