@import 'font';

$width:70%;

.type-transcribe{
  @extend global-font;
  position:absolute;
  bottom:10px;
  left:(100-$width)/2;
  width:$width;
  height:300px;
  font-size:60px;
  background:white;
  outline: none;
  font-family:Helvica;
  text-align:center;
}

.type-transcribe:empty:before{
  content:attr(placeholder);
  display:block;
  color:#616161;
}
